<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fre.shown.tryhook.module.book.dao.BookDAO">

    <resultMap id="BaseResultMap" type="fre.shown.tryhook.module.book.domain.BookDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="categoryId" property="categoryId"/>
        <result column="coverPath" property="coverPath"/>
        <result column="introduction" property="introduction"/>
        <result column="statusId" property="statusId"/>
        <result column="gmtCreate" property="gmtCreate"/>
        <result column="gmtModified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, categoryId, coverPath, introduction, statusId, gmtCreate, gmtModified
    </sql>

    <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book
        where id = #{id}
        limit 1
    </select>
</mapper>